.account{
     background-color: darkgrey;
height: 650px;
}
.accountPage {
     text-align: center;
     width: 400px;
     height: 280px;
     margin-left: 500px;
     margin-top: 80px;
     border-radius: 15px 15px 15px 15px;
padding-top: 25px;
}
span{
    color: cornflowerblue;
}
